/2019/day1/tyranny
/2020/day3/tree-slope
/2019/day12/day12
/2020/day5/binary-boarding
/**/.cpcache/
/**/.nrepl-port
/2020/day8/_build/
/2020/day8/halting
/2019/day8/image.sif
/2020/day11/SeatingSystem.class
/2020/day17/node_modules/
/2020/day17/target/
/2020/day23/crab-cups
/**/*.fasl
/2021/day03/binary_diagnostics
/2021/day05/hydrothermal-venture
/2021/day07/whale-treachery
/2022/.clerk/
/2023/src/day18/region
